{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Forgot Password</h3>
      {% if message %}
        <p>{{ message }}</p>
      {% endif %}
      <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
      <form method="post">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <button type="submit" class="btn btn-success">Send Email</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
  