{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome Page{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">

      <div id="text">
        <h6 class="ml6 text-light text-justify  mt-5">
          <span class="text-wrapper">
            <span class="letters">Welcome to our stock trading platform! We provide an intuitive and efficient solution for buying and selling stocks in the market. With our user-friendly interface and powerful tools, you can easily track your investments, analyze market trends, and make informed trading decisions. Whether you're a seasoned investor or just starting your journey in the world of stocks, our platform offers a seamless experience to help you achieve your financial goals. Join our community today and embark on a successful trading journey with us. 
            </span>
          </span>

        </h6>
      </div>


      <div>
        
        <a href="{% url 'register' %}" class="btn btn-lg " id="join-btn"><span class=" text-light fw-light">Join Us Today</a>




      </div>


    </div>
  </div>
</div>


{% endblock content %}